.alert-container {
	position: fixed;
	z-index: 10500;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.alert {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-width: 100px;
	max-width: 50%;
}

.alert-backdrop {
	z-index: 10000;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}


.direction-toggle {
	font-size: 2em;
	width: 50%;
	padding-bottom: 0px;
	line-height: normal;
}

.direction-label {
	width: 100%;
}


/*tree*/

.child.selected, .child.selected:hover {
	border-color: #ccc;
	border-radius: 4px;
	font-weight:bold;
	background-color: #D9EDF7;
}

.child {
	padding: 7px;
}

.child:hover {
	background-color: #f5f5f5;
	border: 0px solid transparent;
	border-radius: 4px;
	padding: 7px;
}

.child a:hover, .child a:focus {
	text-decoration: none;	
	color: #333;
}

.child a {
	color: #333;
}

.tree {
	max-height: 50vh;
	cursor: default;
	overflow: auto;
}

.tree ul {
	list-style: none;
}

.tree li {
	margin-left: -22px;
}

.icon {
	color: #555;
	max-width: 14px;
	max-height: 14px;	
}

.tree-up-dir {
	display:inline;
	margin-left: 40px;
}

